<style>
    #header1{
    background-color: #889FE7;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
</style>
<div id='header1'>
    <button id="menu"><picture><img src="../Recursos/Iconos/menu.svg" alt="menu"></picture></button>
    <span><a href="index.html" id="texto">Little Glint</a></span>
    <div id="carus">
        <button id="carrito"><picture><img src="../Recursos/Iconos/carro.svg" alt="carro"></picture></button>
        <Button id="usuario"><picture><img src="../Recursos/Iconos/user.svg" alt="usr"></picture></Button>
    </div>

</div> 